<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="navbar"></nav>
<form action="#" method="post" th:action="@{/api/product/move-products/}">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Выберите товар</label>
        <select class="form-control" id="exampleFormControlSelect1" th:field="*{move.productId}">
            <option value="0">select option</option>
            <option th:each="product : ${productList}" th:text="${product.getProductName()}"
                    th:value="${product.id}"></option>
        </select>
        <label for="exampleFormControlSelect1">Первый склад</label>
        <select class="form-control" id="exampleFormControlSelect2" th:field="*{move.firstWarehouse}">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
        </select>
        <label for="exampleFormControlSelect1">Втрой склад</label>
        <select class="form-control" id="exampleFormControlSelect3" th:field="*{move.secondWarehouse}">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
        </select>
    </div>
    <button class="btn btn- primary mb-2" type="submit">
        Перенести товар
    </button>
</form>
</body>
</html>