<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="navbar"></nav>
<div>
    <a th:href="@{@{/api/product/download-products-list}}">download</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Артикул</th>
        <th scope="col">Наименование товара</th>
        <th scope="col">Цена закупки, руб</th>
        <th scope="col">Цена продажи, руб</th>
        <th scope="col">Кол-во</th>
    </tr>
    </thead>
    <tbody th:each="m : ${goods}">
    <tr>
        <td th:text="${m.getArticle()}"></td>
        <td th:text="${m.getProductName()}"></td>
        <td th:text="${m.getLastPurchasePrice()}"></td>
        <td th:text="${m.getLastSellPrice()}"></td>
        <td th:text="${m.getQuantity()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>