<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Добавить товары</title>
</head>
<body>
<nav th:insert="navbar"></nav>
<form th:action="@{/save-product}" th:object="${product}">
    <input name="Артикул" type="text" th:value="*{article}"/>
    <input name="Наименование товара" type="text" th:value="*{product_name}"/>
    <input name="Цена закупки" type="text" th:value="*{last_purchase_price}"/>
    <input name="Цена продажи" type="text" th:value="*{last_sell_price}"/>
</form>


</body>
</html>